@{
    ViewData["Title"] = "Home Page";
}

<table id="usersTable" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                </tr>
                            </thead>
                        </table>

@section Scripts
{
<script src="js/site.js">
    
</script>
}